body {
  text-align: center;
  background-color: white;
  
}

#level-title {
  font-size: 3rem;
  padding-top: 0% ;
  margin:  2%;
  color: red;
}
.text-white{
  vertical-align: top;
  
} 
@keyframes moving{
  0%{
      width:350px;
       height:350px;
  }
  50%{
      width:800px;
      height:800px;
  }
  100%{
    width:350px;
    height:350px;
  }

}

.bttn {
  margin: 3%;
  display: inline-block;
  width: 350px;
  border: 8px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

#red {
  background-color: red;
  animation: none;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.go{
  margin: 25px;
  height: 50px;
  width: 380px;
  font-size: x-large;
  display: block;
  text-decoration: none;

}


.startGame{ 
  margin: 25px;
  height: 50px;
  width: 290px;
  font-size: x-large;
  display: block;
 text-decoration: none;
}

h1{ 
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

footer{
  position: relative;
  top:100px;
  font-size: x-large;
 

}
p{
  position: relative;
  bottom: 30px ;
 
}